*{
    padding: 0;
    margin: 0;
}
.calender{
    background-image: url(istockphoto.jpg) ;
    height: 135vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    position: relative;
}
.calender .overlay{
    left: 0;
    top: 0;
    height: 135vh;
    width: 100%;
    background-image: -webkit-radial-gradient(48% 42%, 140% 110%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
    position: absolute;
}
.month2{
    text-align: center;
}
.month2 h1{
    color: rgba(237, 235, 235, 0.901);
    font-size: 90px;
    padding-top: 12px;
    font-weight: 500;
}
.month2 p{
    color: rgba(189, 183, 183, 0.938);
    font-size: 30px;
    padding: 9px;
}
nav{
    margin: 2% 40% ;
    color: #0000000b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: transparent; */
}
nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 26px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
li:hover{
    color: black;
    list-style: none;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(61, 180, 178, 0.659);
    border: 2px solid rgba(175, 185, 211, 0.913);
    transition: 0.3S ease-out;
    cursor: pointer;
}
.table1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.table1 th{
    color: rgba(11, 11, 11, 0.931);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 10px;
    background-color: rgba(158, 182, 160, 0.448);
}
.table1 td{
    color: rgba(245, 241, 241, 0.958);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgba(212, 207, 207, 0.165);
}
@media screen and (max-width:700px){
.calender{
    height: 125vh;
    width: auto;
    }
    .calender .overlay{
        height: 125vh;
    }
    .month2 h1{
        font-size: 45px;
        padding: 5% 0;
    }
    .month2 p{
        font-size: 22px;
        padding: 0 15%;
    }
    nav a{
        font-size: 20px;
        }
    .table1{
        margin: 0 5%;
        text-align: start;
    }
    .table1 th{
        font-size: 20px;
        padding: 5% 0;
    }
    .table1 td{
        font-size: 13px;
        padding: 3% 0.2%;
    }
}


/* fasting timing */

.timing{
    background-image: url(istockphoto.jpg) ;
    height: 165vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    position: relative;
}
.month{
    text-align: center;
    width: 100%;
    height: 165vh;
    background-image: -webkit-radial-gradient(48% 42%, 140% 110%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
}
.month h1{
    color: rgba(237, 235, 235, 0.901);
    font-size: 90px;
    padding-top: 12px;
    font-weight: 500;
}
.month p{
    color: rgba(189, 183, 183, 0.938);
    font-size: 30px;
    padding: 9px;
}
.table{
    margin: 2% 7%;
    width: 85%;
    height: 85%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.table th{
    font-size: 25px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(233, 226, 226, 0.078);;
    padding: 2%;
}
.table tr{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    background-color: rgba(204, 204, 204, 0.349);
}
.table td{
    padding: 2px;
}
@media screen and (max-width:700px){
    .timing{
        height: 155vh;
    }
    .month {
        height: 155vh;
    }
    .month h1{
        font-size: 45px;
        padding: 5% 0;
    }
    .month p{
        font-size: 22px;
        padding: 0 15%;
    }
    .table{
        margin: 5%;
        width: 91.5%;
    }
    .table th{
        font-size: 18px;
        padding: 0.2%;
    }
    .table td{
        font-size: 15px;
    }
}


/* home-section */

.home{
    background-image: url(istockphoto.jpg) ;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    position: relative;
}
.home .overlay{
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-image: -webkit-radial-gradient(48% 42%, 140% 110%, rgba(33, 37, 41, 0.583), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
    position: absolute;
}
.month1{
    text-align: center;
}
.month1 h1{
    color: rgba(237, 235, 235, 0.901);
    font-size: 90px;
    padding-top: 12px;
    font-weight: 500;
}
.month1 p{
    color: rgba(226, 218, 218, 0.961);
    font-size: 30px;
    padding: 9px;
}
.headerh{
    margin: 4% 0;
    display: flex;
    justify-content: space-around;
}
.headerh li{
    font-size: 45px;
}
.headerh li:hover{
    border-radius: 30px;
    list-style: none;
    padding: 0 15px 15px 15px;
    background-color: rgba(61, 180, 105, 0.659);
    border: 2px solid rgba(42, 194, 64, 0.913);
    transition: 0.4S ease-out;
    cursor: pointer;
}
.dua{
    display: flex;
    justify-content: space-around;
}
.sheri, .iftari{
    text-align: center;
}
.sheri h2, .iftari h2{
    color: #fff;
    font-size: 40px;
    font-weight: 200;
}
.sheri h4, .iftari h4{
    padding-top: 5%;
    color: #000000;
    font-size: 38px;
    font-weight: 500;
}
.sheri p, .iftari p{
    padding-top: 3%;
    font-size: 30px;
    font-weight: 300;
}
.sheri audio, .iftari audio{
    padding-top: 3%;
}
@media screen and (max-width:700px){
    .home{
        height: 150vh;
    }
    .home .overlay{
        height: 150vh;
    }
    .month1 h1{
        font-size: 45px;
        padding: 5% 0;
    }
    .month1 p{
        font-size: 22px;
        padding: 0 15%;
    }
    .headerh nav ul li a{
        display: flex;
    }
    .headerh nav ul li a:hover{
        color: #000000;
        padding: 1%;
        background-color: rgba(61, 180, 105, 0.659);
        border: 2px solid rgba(42, 194, 64, 0.913);
        border-radius: 25px;
    }
    .dua{
        display: block;
    }
    .sheri b, .iftari b{
        padding-bottom: 5%;
        color: rgba(145, 247, 145, 0.912);
    }
    .iftari h4{
        padding-top: 2%;
    }
    .sheri p, .iftari p{
        font-size: 30px;
    }
}